@tailwind base;
@tailwind components;
@tailwind utilities;

.layout-main{
    height: 100vh;
    background: url("/images/IOCL_Haldia_Industry.png");
    background-size: contain;
}

.map{
    background: url("/images/Maharashtra.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.Heatmap{
    background: url("/images/HeatMap.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.HeatmapTwo{
    background: url("/images/HeatMap.svg");
    background-size: cover;
    background-repeat: no-repeat;
    rotate: -150deg;
}